*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	font-size: 18px;
}

.wrapper {
	max-width: 900px;
	height: 550px;
	margin: 0 auto;
	/* padding: 0 250px; */
}

.calculator {
	display: grid;
	border: 4px solid rgb(36, 35, 35);
	width: 45%;
	border-radius: 20px;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: repeat(1, 100px);
}

.keybord {
	display: grid;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: repeat(5, 100px);
	justify-items: center;
	align-items: center;
}

.keybord > button {
	cursor: pointer;
	font-size: 1.5rem;
	background-color: rgba(178, 178, 178, 0.75);
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 50%;
	box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
}

.keybord > button:hover {
	color: #fff;
	background-color: rgba(247, 129, 129, 0.9);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#clear {
	color: #fff;
	background-color: rgb(249, 3, 3);
}
#clear:hover {
	color: #fff;
	background-color: rgb(233, 82, 82);
}
.output {
	grid-column: 1 / -1;
	background-color: rgba(0, 0, 0, 0.75);
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
	border-radius: 20px 20px 0 0;
}
.previous-operand {
	color: rgb(166, 161, 161);
	font-size: 1.2rem;
}
.current-operand {
	color: #fff;
	font-size: 2rem;
}
